<div id="front_pg_wrapper">
  <div id="front_pg_title">
    <h1>THE STAFF ROOM</h1>
    <br>
    <h4>a place to vent about your boss</h4>
  </div>
  <p id="front_pg_signup">
    Not a member?
    <%=link_to 'Sign Up', new_user_path %>
  </p>
</div>