<h1>Latest Posts</h1>

<section>
  <% @posts.reverse.each do |post| %>
    <article>
      <h3>
        <%= post.title %>
      </h3>
      <h5>
        by <%= User.find(post.user_id).username %>
      </h5>
      <%= post.text %>
    </article>
  <% end %>


</section>