/*// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

.attribution {
  font-size: 14px;
}

.comment_attribution {
  text-align: right;
  font-size: 12px;
}

.comment_attribution a:link, .comment_attribution a:visited {
  color: white;
}

.comment_attribution a:hover {
  color: #D05021;
}

.comment_body {
  width: 60%;
}

.comments {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.5em;
  font-size: 14px;
  background-color: #1292e8;
  background-image: url(black-linen.png);
  color: white;
}

.date_and_comments {
  position: absolute;
  left: 4px;
  bottom: 4px;
  font-size: 12px;
  color: #FFF;
}

.new_post {
  width: 60%;
  height: 200px;
}

.post {
  width: 50%;
  margin: 40px auto;
  font-size: 18px;
}

.post_title {
  width: 60%;
  height: 20px;
}

.post_links {
  width: 50%;
  margin: 16px auto;
  text-align: center;
}

.post_links > a {
  margin-right: 18%;
  text-align: center;
}

.posts_feed {
  width: 20%;
  height: 250px;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: .5em .7em;
  overflow: auto;
  background-color: DodgerBlue;
  background-color: rgba(11, 129, 213, 0.6);
}

.posts_feed a {
  margin-bottom: 1em;
}

.posts_feed a:link, .posts_feed a:visited {
  color: white;
}

.posts_feed a:hover {
  color: #D05021;
}

#comment_form {
  width: 300px;
  height: 50px;
}