// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date {
  
}

.edit_form {
  width: 300px;
  padding: 1em;
  border: 1px solid black;
}

.profile {
  
}

.profile_posts {
  
}