/*// Place all the styles related to the Users controller here.
/*//*/ They will automatically be included in application/*.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

.edit_form > form {
  margin-top: 5px;
  line-height: 2.5em;
}

.date {
  font-size: 12px;
}

.edit_form {
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.left {
  width: 25%;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 15% 20px 20px;
  text-align: left;
}

.profile {
  padding: 1em;
  background-color: green;
  background-color: rgba(40,162,72, 0.8);
  color: white;
}

.profile_posts {
  margin: 0;
}

.right {
  width: 50%;
  display: inline-block;
  margin-top: 20px;
}

#moo {
  background-color: white;
  border-radius: 5px;
}